.bg-detalhes {
  /* background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%); */
}

.voltar {
  position: fixed;
  top: 10px;
  left: 10px;
  border: none;
  background-color: #252525;
  padding: 5px;
  border-radius: 50%;
  z-index: 1000;
}

.voltar a {
  display: block;
}

.voltar i {
  font-size: 2rem;
  color: #b4b4b4;
  line-height: 0;
}

.detalhes-container {
  margin: 0 auto;
  /* padding: 0 20px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px 20px;
  max-width: 1200px;
}

.champion-infos {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: start; */
  /* background: url("../images/ahri.jpg"); */
  object-fit: contain;
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 53%;
}

.champion-infos h1 {
  font-size: 2rem;
}

.topo {
  /* text-align: center; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

.topo h1 {
  padding: 5px 20px 0px 20px;
  color: #ffffff;
  font-size: 4rem;
  line-height: 4rem;
  background: rgb(68, 39, 165);
  background: linear-gradient(
    299deg,
    rgba(68, 39, 165, 1) 0%,
    rgba(0, 123, 142, 1) 100%
  );
}

.topo span {
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 5px 20px;
  background: rgb(68, 39, 165);
  background: linear-gradient(
    299deg,
    rgba(68, 39, 165, 1) 0%,
    rgba(0, 123, 142, 1) 100%
  );
  box-shadow: 0px 25px 30px -6px rgba(0, 0, 0, 0.1);
}

.lore h2,
.spells h2,
.skins h2 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
}

.lore h2::after,
.spells h2::after,
.skins h2::after {
  content: "";
  display: block;
  width: 8px;
  height: 25px;
  background-color: #21d4fd;
  background-image: linear-gradient(
    180deg,
    rgba(0, 119, 182, 1) 3.6%,
    rgba(8, 24, 68, 1) 87.6%
  );

  position: absolute;
  top: 8px;
  left: 0px;
}

.lore,
.spells,
.skins {
  padding: 0 10px;
}

.lore p {
  max-width: 100ch;
}

.spells-container {
  display: flex;
  gap: 50px;
}

.spells-text {
  margin-top: 10px;
}

.spells-images {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: start;
  justify-items: center;
  margin-top: 20px;
}

.spells-images img {
  border-radius: 15px;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.spells-images img:hover {
  transform: translateY(-10px);
}

.spell-details {
  margin-top: 20px;
  display: none;
}

.spell-details.ativo {
  display: block;
}

.spell-details h3 {
  margin-bottom: 10px;
}

.spell-details p {
  max-width: 50ch;
}

.spells-video {
  max-width: 650px;
  position: relative;
  width: 100%;
}

.spell-video {
  display: none;
}

.spell-video.ativo {
  display: block;
}

.spells-video video {
  width: 100%;
  height: auto;
  display: block;
}

.conteudo {
  display: none;
}

@media (max-width: 800px) {
  .champion-infos {
    padding-top: 40%;
  }

  .topo h1 {
    font-size: 3rem;
    line-height: 1.3;
  }
  .topo span {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .spells-container {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .spells-images {
    justify-content: center;
    gap: 15px;
  }
}

@media (max-width: 600px) {
  .spells-images img {
    width: 64px;
  }
}

@media (max-width: 415px) {
  .spells-images img {
    width: 50px;
  }
}
