.bg {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin: 20px auto 20px auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.redes {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2.5rem;
  line-height: 1;
  justify-content: flex-end;
}
.redes i {
  display: block;
  color: rgb(7, 94, 94);
  transition: color 0.3s;
}
.redes i:hover {
  color: rgb(15, 72, 119);
}

.busca {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 9px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.busca input {
  width: 100%;
  border: none;
  outline: none;
  margin-right: 20px;
  margin-left: 10px;
}

.busca .fechar-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.champion {
  min-width: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: -9px 10px 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.champion-icon {
  margin-bottom: 10px;
  border-radius: 50%;
}

.icon {
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(to right, #13f78c, #0be6e6, #f700c5) border-box;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  padding: 2px;
  width: 100px;
}

.champion-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.champion-info .name {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.champion-info .type {
  color: #000000;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: rgba(5, 5, 5, 0.123);
}

@media (max-width: 500px) {
  .container {
    gap: 20px;
    justify-content: space-evenly;
  }
  .champion {
    min-width: 150px;
    padding: 10px 10px;
    box-sizing: border-box;
  }
  .champion-icon img {
    width: 80px;
  }

  .champion-info .name {
    font-size: 1rem;
  }
  .champion-info .type {
    font-size: 0.7rem;
    padding: 5px 8px;
  }
}
